<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Core.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Main.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>UseCaseIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1D1E230126753CE3003B86B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D1E230926753CE4003B86B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D1E232326754547003B86B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D1E23382675454A003B86B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D512370267469F900795EB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D512378267469F900795EB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D9E62CF2655CBFA00B1A134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DB1B2742656A58C00443628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DB1B27C2656A58C00443628</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DB76C1D2648E68C005006C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DB76C252648E68C005006C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DBD17C426462B01000B8FD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DBD17D526462E65000B8FD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DBD17DD26462E65000B8FD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DC774F42655DA1D00E27E43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1DC774FC2655DA1D00E27E43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
